/* .article-text {
    white-space: pre-line;
    line-break: anywhere;
} */

.article-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

img {
    max-width: 100%;
    height: auto;
}

.article-wrapper {
    padding: 25px;
    /* margin: 25px; */
    width: 100%;
    border-radius: 10px;
    background-color: white;
}

.article-paragraphs {
    text-align: justify;
}

.markdown-body > pre {
    max-width: 50%;
    margin: auto;
}

@media only screen and (max-width: 768px) {
    img {
        max-width: 90%;
        height: auto;
    }
    .markdown-body > pre {
        max-width: 90%;
        margin: auto;
    }
}
