.header-article {
    height: 220px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2a2b2a;
}

.h1-wrapper {
    max-width: 1000px;
}
