.article-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-form {
    width: 400px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article-content-input {
    height: 500px;
}
