.articles-list-container {
    display: flex;
    justify-content: center;
}

.articles-list {
    width: 500px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
}

.article-buttons-container {
    display: flex;
    justify-content: flex-end;
}

.article-link-wrapper {
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin: 5px;
    align-items: center;
}

.delete-article-button {
    background-color: #9e251c;
    border: none;
    color: white;
    padding: 5px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    border-radius: 5px;
}

.edit-article-button {
    background-color: #008cba;
    border: none;
    color: white;
    padding: 5px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    border-radius: 5px;
}

.delete-article-button:hover {
    background-color: #f07067;
    cursor: pointer;
}

.edit-article-button:hover {
    background-color: #39b9e3;
    cursor: pointer;
}
