.article-card-container {
    width: 100%;
    height: 367;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article-card-wrapper {
    padding: 20px;
    width: 75%;
    height: 202px;
    display: flex;
    justify-content: flex start;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
}

.article-card-wrapper:hover  {
    background-color: #bebfb9;
}

.article-banner-preview {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}

.article-banner-preview > img {
    max-height: 200px;
}

.article-infos-container {
    width: 78%;
    height: 202px;
    position: relative;
    left: 50px;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article-title {
    padding: 0px;
    margin: 0px;
}

.article-meta-wrapper {
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.article-date {
    margin-right: 20px;
}

.article-tags-container {
    display: flex;
    flex-direction: row;
}

.tag-wrapper {
    background-color: #2A2B2A;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 8px;
    height: 21px;
    color: #DDDDDD;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider-line {
    width: 25%;
    margin: 60px;
    height: 1px;
    border-bottom: solid #2A2B2A 1px;
}


