.navbar-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img {
    position: relative;
    top: 0px;
    left: 0px;
}

nav {
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
